<h1>新しいレポートを追加</h1>

<%= form_with model: @task do |f| %>
  <div>
    <%= f.label :title, "レポート名" %><br>
    <%= f.text_field :title, placeholder: "例：英語のレポート" %>
  </div>

  <div style="margin-top: 20px;">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<hr>
<%= link_to "一覧に戻る", tasks_path %>